* {
    /* box-sizing: border-box; */
    /* position: absolute;
    right: 0;
    top: 0; */
    z-index: 10;
  
  }
  
  body {
    height: 400vh;
    margin: 0;
    padding: 5vw;
    display: flex;
    flex-direction: column;
  }
  
  .algo {
    width: 252px;
    height: 409px;
  }
  
  .game {
    background-color: #1A1A1A;
    flex: 1;
    position: relative;
    padding: 30px;
    cursor: url(player.png), pointer;
  }
  
  .score {
    margin-top: 0px;
    margin-left: 0px;
    position: fixed
  }

  .time {
    margin-left: 0px;
    position: fixed;
    margin-top: 40px;
  }

  .headline {
    left: 50%;
    right: 50%;
  }
  /* .tree {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: red;
  } */
  