* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    padding: 5vw;
    display: flex;
    flex-direction: column;
  }
  
  .algo {
    width: 252px;
    height: 109px;
  }
  
  .game {
    background-color: #1A1A1A;
    flex: 1;
    position: relative;
    cursor: url(player.png), pointer;
  }
  
  .tree {
    width: 200px;
    height: 200px;bgjshfsfh
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: red;
  }
  